# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/hcms

# JWT
# JWT secret key
JWT_SECRET=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANGS7guJIXR/BtKUJejJmIZnHp4mb4dI
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=twila.von94@ethereal.email
SMTP_PASSWORD=HRUt68N3Z5dgn1ztcg
EMAIL_FROM=support@hcms.com
